{% extends 'tickets\ticket_detail.html'  %}


{% block head %}
    {% load i18n %}
    <!--{% load static %}-->
<script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<!--<script type="text/javascript" src="/static/js/term_confirmation.js"></script>-->

{% endblock %}


{% block ticket_message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">

            <strong align="center">{{ requester }} запросил(а) перенос срока на <text id="newterm">{{term_change_date}}</text>.</strong>
            <div class="row">  {{term_change_explain}} </div>
            <div class="row">

                <form action="{% url 'confirm_term_change' number=ticket.number %}" method="post">
                    {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                     </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm"> {{ field.label }}:</div>
                                    <div class="col-sm"> {{ field }}      </div>
                                </div>
                            </div>
                        {% endfor %}
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm"><button class="btn btn-sm btn-secondary" data-dismiss="alert">Отмена</button></div>
                        <div class="col-sm"><button type="submit" class="btn btn-sm btn-warning">Назначить новый срок</button></div>
                    </div>
                </form>


            </div>
        </div>

{% endblock %}
