{% extends 'tickets\ticket_detail.html'  %}

{% block head %}
    {% load i18n %}
    <!--{% load static %}-->
<script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

{% endblock %}

{% block ticket_message %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong align="center">Запросить у {{ supervisor }} продление срока ?</strong>
                <form action="{% url 'term_request' number=ticket.number %}" method="post">
                    {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                     </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-4"> {{ field.label }}:</div>
                                    <div class="col-8"> {{ field }}      </div>
                                </div>
                            </div>
                        {% endfor %}

                    <!--<input type="date" name="newdate" placeholder="{{lastdate}}">-->
                   <div class="row justify-content-md-center">
                        <div class="col-3"><button class="btn btn-sm btn-secondary" data-dismiss="alert">Отмена</button></div>
                        <div class="col-3"><button type="submit" class="btn btn-sm btn-success">Запросить перенос срока</button></div>

                    </div>
                </form>
        </div>

{% endblock %}
