{% extends 'base.html'  %}

{% block head %}
    <script src="/static/js/search.js"></script>
{% endblock %}

{% block title %}
    Список карточек | {{ theme }}
{% endblock %}

{% block content %}

    <div class="container mt-1">
        <nav class="navbar navbar-light">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'all' %}">Мои карточки</a>
                </li>
                {% if updates %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">
                            <span class="badge badge-danger">
                                <img src="/static/img/6.png">new:{{updates}}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Темы</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'all' %}">Все</a>
                        <hr>
                        {% for theme in themes %}
                          <a class="dropdown-item" href="{% url 'all' %}?theme={{theme}}">{{theme}}</a>
                        {% endfor %}

                    </div>
                </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">План</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/tickets/plan?plan=7">На эту неделю</a>
                          <a class="dropdown-item" href="/tickets/plan?plan=14">На две недели</a>
                          <a class="dropdown-item" href="/tickets/plan?plan=30">На месяц</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Отчет</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/tickets/report?report=7">За неделю</a>
                          <a class="dropdown-item" href="/tickets/report?report=14">За две недели</a>
                          <a class="dropdown-item" href="/tickets/report?report=30">За месяц</a>
                          <a class="dropdown-item" href="/tickets/report">Настраиваемый..</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'archive' %}">Архив</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>          <!- откорректировать ссылку -/!>
                </li>
            </ul>

                    <form class="form-inline my-2 my-lg-0" action ="{% url 'search_results_url' %}">
                        <input class="form-control mr-sm-2" type="search" id="search_input" placeholder="найти..." name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">
                            <img src="/static/img/9.png" width="20" height="20">Найти
                        </button>
                        <!--<small id="search_comment">поиска</small>/!-->
                    </form>
        </nav>
    </div>
    {% block ticket_content %}
        карточки
    {% endblock %}

    {% block pagination %}
        {% if is_paginated %}

        <nav aria-label="...">
              <ul class="pagination">
                    <li class="page-item {% if not prev_url %}disabled{% endif %}">
                      <a class="page-link" href="{{ prev_url }}" >Previous</a>
                    </li>

                        {% for n in page_object.paginator.page_range %}
                            {% if page_object.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                                </li>

                            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    <li class="page-item {% if not next_url %}disabled{% endif %}">
                      <a class="page-link" href="{{ next_url }}">Next</a>
                    </li>
              </ul>
        </nav>
        {% endif %}

    {% endblock %}


{% endblock %}

