{% extends 'tickets\ticket_detail.html'  %}

{% block ticket_message %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong align="center">Вы уверены что хотите удалить эту карточку?</strong>
            <div class="row">
                <div class="col-sm" align="center">
                    <form action="{% url 'delete_ticket' number=ticket.number %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Удалить карточку</button>
                    </form>
                </div>
                <div class="col-sm" align="center">
                    <button class="btn btn-sm btn-success" data-dismiss="alert">Отмена</button>
                </div>
            </div>
        </div>

{% endblock %}
