{% extends 'tickets\index.html'  %}

{% block title %}
    ПЛАН на {{days}} дней
{% endblock %}

{% block ticket_header %}
     <h4>Ваш план на ближайшие {{days}} дней </h4>
        {% if tickets %} Запланировано {{text_result}}
            {% if theme %} по теме <strong>{{theme}} </strong>{% endif %}
        {% endif %}
{% endblock %}

{% block no_tickets %}
    <hr>
        <h4>Здесь будет отображаться ваш план </h4>
        <img src="" alt="">
    <hr>
{% endblock %}

    {% block pagination %}
        {% if is_paginated %}

        <nav aria-label="...">
              <ul class="pagination">
                    <li class="page-item {% if not prev_url %}disabled{% endif %}">
                      <a class="page-link" href="{{ prev_url }}" >Previous</a>
                    </li>
                        {% for n in page_object.paginator.page_range %}
                            {% if page_object.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                                </li>

                            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?plan={{days}}&page={{ n }}">{{ n }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    <li class="page-item {% if not next_url %}disabled{% endif %}">
                      <a class="page-link" href="{{ next_url }}">Next</a>
                    </li>
              </ul>
        </nav>
        {% endif %}
    {% endblock %}

