{% extends 'tickets\base_tickets.html' %}

{% block title %}
    Подробности - карточка № {{ ticket.number }}
{% endblock %}

{% block ticket_content %}
    <div class="col-8 offset-md-2">
        <div class="container">
          <div class="row">

              <div class="col-sm">
                  <a href="/tickets/ticket/copy/{{ticket.number}}" class="badge badge-light"
                     data-toggle="tooltip" title="Скопировать эту карточку">
                      <img src="/static/img/8-30.png" width="20" height="20" alt="copy" >
                  </a>
              </div>
              <div class="col-sm">
                  <a href="prolongate" class="badge badge-light">
                      <img src="/static/img/4-30.png" width="20" height="20" alt="prolongate">
                  </a>
              </div>
              <div class="col-sm">
                  <a href="print" class="badge badge-light">
                      <img src="/static/img/3.png" alt="print">
                  </a>
              </div>
              <div class="col-sm">
                  <a href="#redirect" class="badge badge-light">
                      <img src="/static/img/30-30.png" width="20" height="20">
                  </a>
              </div>
              <div class="col-sm">
                  <a href="#back" class="badge badge-light">
                      <img src="/static/img/20-30.png" width="20" height="20">
                  </a>
              </div>
              {% if ticket.consumer == user_name %}

                      <div class="col-sm">
                          {% if ticket.status != 'closed' and not ticket.isSignedByCustomer %}
                          <a href="{% url 'edit_ticket' number=ticket.number %}" class="badge badge-light"
                          data-toggle="tooltip" title="Редактировать эту карточку">
                              <img src="/static/img/7.png" width="20" height="20">
                          </a>
                          {% else %}
                                <img src="/static/img/7.png" width="20" height="20"
                                     data-toggle="tooltip" title="Невозможно отредактировать">
                          {% endif %}
                      </div>

                  <div class="col-sm">
                      <a href="{% url 'delete_ticket' number=ticket.number %}" class="badge badge-light"
                      data-toggle="tooltip" title="Удалить эту карточку">
                          <img src="/static/img/11.png" width="20" height="20" >
                      </a>
                  </div>

              {% endif %}
              <div class="col-sm"><a href=""></a></div>
              <div class="col-sm"><a href=""></a></div>
              <div class="col-sm"><a href=""></a></div>
              <div class="col-sm"><a href=""></a></div>
          </div>
        </div>
        {% block ticket_message %}
        {% endblock %}
        <table class="table">

            <tbody>
            <tr {% if ticket.status == 'closed' %} class="alert alert-secondary" {% else %} class = "alert alert-success" {% endif %} align="center">
                <th> <p align="center"> Kарточка №  {{ ticket.number }}</p></th>
                <th>{% if ticketIsNew %} новая! {% endif %}</th>
                <th>{{ ticket.status }}</th>
            </tr>
            </tbody>
        </table>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <th> Исполнитель</th>
                <th> {% if ticket.isSignedByResponsible  %}
                        <small>Подписана</small><img src="/static/img/5.png" width="20" height="20">
                     {% else %}
                        {% if ticket.responsible  == user_name %}
                          {% if ticket.reports %}
                            <form action="{% url 'sign_ticket'  %}" method="post">
                                {% csrf_token %}
                               <input type="hidden"  name="tn" value="{{ticket.number}}">
                               <button type="submit" class="btn btn-sm btn-success">
                                   <img src="/static/img/23.png" width="20" height="20" >подписать</button>
                            </form>
                          {% else %}
                            <button class="btn btn-secondary disabled" data-toggle="tooltip"
                                    data-placement="top" title="Нужно добавить отчетные материалы">
                                <img src="/static/img/23.png" width="20" height="20" >
                                подписать</button>
                          {% endif %}
                        {% else %}
                            еще не подписана
                        {% endif %}
                </th>
                     {% endif %}
                <th> Потребитель </th>
                <th> {% if ticket.isSignedByCustomer %}
                        <small>Подписана</small><img src="/static/img/5.png" width="20" height="20">
                     {% else %}
                         {% if ticket.consumer == user_name %}
                            {% if ticket.isSignedByResponsible %}
                                <form action="{% url 'sign_ticket' %}" method="post">
                                   {% csrf_token %}
                                   <input type="hidden" name="tn" value="{{ticket.number}}">
                                   <button type="submit" class="btn btn-success" data-toggle="tooltip">
                                       <img src="/static/img/23.png" width="20" height="20" >
                                       {% if ticket.mayBeClosedAutomatically %} закрыть {% else %} подписать {% endif %}
                                   </button>
                                </form>
                            {% else %}
                                <button class="btn btn-secondary disabled" data-toggle="tooltip"
                                    data-placement="top" title="Вначале должен подписать Исполнитель">
                                    <img src="/static/img/23.png" width="20" height="20" >
                                подписать</button>
                            {% endif %}
                         {% else %}
                            еще не подписана
                         {% endif %}
                     {% endif %}
                </th>
            </tr>
            <tr>
                <th> {{ ticket.get_ticket_responsible }}</th>
                <th align="left"> тел. {{ ticket.get_resp_phone }} </th>
                <th> {{ ticket.get_ticket_consumer }}</th>
                <th align="left"> тел. {{ ticket.get_consum_phone }} </th>
            </tr>
            <tr>
                <th> <h6>Тема: </h6></th>
                <th align="left"> <a href="{% url 'all' %}?theme={{ticket.theme}}">{{ ticket.theme }}</a> </th>
                <th> <h6>Основание: </h6></th>
                <th align="left"><h6>{{ ticket.osn }}</h6> </th>

            </tr>
            </tbody>
        </table>

        <hr>

        <p>  {{ ticket.job }} </p>
        <hr>
        {% if ticket.status  != 'closed' %}
        <p {% if ticket.ticket_is_out_of_term %} class = "alert alert-danger" {% endif %}> срок : {{ ticket.get_ticket_term }}  - {{ ticket.get_ticket_expiration }}

        </p>
        {% else %}
        <strong>Была закрыта: {{ticket.term}} </strong>
        {% endif %}
        <hr>
        <p> <strong>Отчетные материалы: </strong></p>
        <p> {% if ticket.reports %} {{ ticket.reports }} {% else %} Нет отчетных материалов {% endif %}</p>

        {% if ticket.responsible == user_name %}
            {% if not ticket.isSignedByResponsible %}
                <form class="form-inline" action="{% url 'make_reports' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="tn" value="{{ticket.number}}">
                    <input type="text" placeholder="Можете добавить комментарий..." name="report_comments">
                  <div class="form-row">
                    <label for="exampleFormControlFile1">Прикрепить отчетные материалы:</label>
                      <div class="col-auto">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      </div>
                      <div class="col-auto" align="right">
                         <button type="submit" class="btn btn-info mb-2"><img src="/static/img/14.png" width="20" height="20" >Прикрепить</button>
                      </div>
                  </div>
                </form>
            {% else %}
            <small>Нельзя менять отчетные материалы после подписания. </small>
            <small> При необходимости обратитесь за помощью к <a href="mailto:tickets_admin@kbu.net ">администратору</a> </small>

            {% endif %}
        {% endif %}
        <hr>


        <a href="{% url 'show_comments' number=ticket.number %}" class="badge badge-light"
        data-toggle="tooltip" ><button><img src="/static/img/15.png" width="20" height="20" >замечания
          {% if ticket.comments_quantity != 0 %}:{{ticket.comments_quantity}} {% endif %}</button>
        </a>
        {% block ticket_comments %}
        {% endblock %}


    </div>
{% endblock %}

