{% extends 'tickets\base_tickets.html'  %}

        {% block title %}
           Создать карточку
        {% endblock %}

 {% block ticket_content %}
    <div class="col-6 offset-md-2">
        <h4 class = "mb-5"> Создать новую карточку : </h4>
        <p> <strong>Внимание! {{user_name.firstName}} {{user_name.fathName}}, </strong>Вы можете самостоятельно создать работу (поручение, напоминание) только для своих подчиненных.</p>
        <p>Потребителем будете являться Вы. </p>
        <form class="" action="{% url 'create_ticket' %}" method = "post">
            {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                             </div>
                        {% endif %}
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-group">Потребитель:        <strong> {{ user_name }}</strong></div>

            <button type="submit" class ="btn btn-primary" >Создать карточку</button>
        </form>
    </div>

 {% endblock %}