{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    {% if error %}
            <p>Ошибка:</p>
            <p> {{ error }}</p>
                Contact site administration mailto:
                <a href="mailto:tickets_admin@kbu.net">tickets_admin@kbu.net</a>
            <hr>
    {% else %}
        <p>На вашу почту {{ email}} был отправлен новый пароль. Вы можете сменить его позже, когда зайдете в личный кабинет.</p>
        <p>Спасибо!</p>
    {% endif %}
        <a href="{% url 'index_page' %}">To site</a>
{% endblock %}