{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
<div class="col-6 offset-md-2">
    {% if error %}
            <p>Ошибка:</p>
            <p > {{ error }}</p>
    Обратитесь к администрации сайта
    Contact site administration mailto:
                <a href="mailto:tickets_admin@kbu.net">tickets_admin@kbu.net</a>
            <hr>
    {% else %}
        <p>На вашу почту {{ email}} был отправлен новый пароль. Вы можете сменить его позже, когда зайдете в
            <a href="{% url 'cabinet' %}"></a> личный кабинет.</p>
        <p>Спасибо!</p>
    {% endif %}
        <a href="{% url 'index_page' %}" class="btn btn-info">Вернуться на сайт</a>
</div>
{% endblock %}