.create-panel {
    border : 1px solid #345;
    border-radius : 2px;
    position: fixed;
    left: 5px;
    top: 100px;
    opacity: 0.3;
    padding :10px;
}
.create-panel:hover {
    opacity :1;
}
.create-panel a{
    display: block;
    margin: 3px 0;
}

.message{
    border : 1px solid #345;
    border-radius : 2px;
    position: fixed;
    left: 650 px;
    top: 300px;
    opacity: 0.6;
    padding :10px;
}

#copyright {
    position: fixed; /* Фиксированное положение */
    left: 0px;
    bottom: 0px; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    color: #aaa; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    text-align: center;
   }