.create-panel {
    border : 1px solid #345;
    border-radius : 2px;
    position: fixed;
    left: 5px;
    top: 100px;
    opacity: 0.3;
    padding :10px;
}
.create-panel:hover {
    opacity :1;
}
.create-panel a{
    display: block;
    margin: 3px 0;
}

.message{
    border : 1px solid #345;
    border-radius : 2px;
    position: fixed;
    left: 650 px;
    top: 50px;
    opacity: 0.6;
    padding :10px;
}

#footer{
    position:absolute;
    height:100%px;
    margin top:98%;
}

#copyright{
    position:relative;
    margin top:20px ;
    height:100%;
    left: 0 px;
    bottom: 0px;
    padding :10px;
    color: #aaa;
    width:100%;
    text-align:center;
}

