{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>
        {% block title %}
            Карточки
        {% endblock %}

    </title>
</head>


<body>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mt-1"><h3>КАРТОЧКИ</h3></span>
        {% if user_name %}
            <div><p>{{ dept_number }}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user_name }}</a>
                    <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'create_ticket' %}">Создать карточку</a>
                          <hr>
                          <a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a>
                          <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                    </div>
                </div>
            </p></div>

        {% else %}
            <div> <a href="{% url 'login_url' %}">Войти</a> </div>
        {% endif %}
</nav>

{% if user_name %}
    {% block create-panel %}
            <div class="create-panel align-items-center">
                <a href="{% url 'create_ticket' %}">
                    <button type="button" class="btn btn-success"  aria-haspopup="true" aria-expanded="false">+</button>
                </a>
                <button type="button" class="btn btn-outline-info"  aria-haspopup="true" aria-expanded="false">=</button>
             </div>
    {% endblock %}
{% endif %}

{% if message %}
    {% block message%}
    <div class="message">
        <div> {{ message }}</div>
        <button type="button" class="btn btn-success">close</button>
    </div>
    {% endblock%}
{% endif %}


<div class="container mt-1">
    <nav class="navbar navbar-light">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/tickets/news">Все {% if updates %}<span class="badge badge-info">new:{{updates}}</span> {% endif %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Темы</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/tickets/news/">Все</a>
                    <hr>
                    {% for theme in themes %}
                      <a class="dropdown-item" href="?theme={{theme}}">{{theme}}</a>
                    {% endfor %}

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">План</a>
                <div class="dropdown-menu">
                      <a class="dropdown-item" href="/tickets/plan?plan=7">На эту неделю</a>
                      <a class="dropdown-item" href="/tickets/plan?plan=14">На две недели</a>
                      <a class="dropdown-item" href="/tickets/plan?plan=30">На месяц</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Отчет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Архив</a>          <!- откорректировать ссылку -/!>
            </li>
        </ul>

                <form class="form-inline my-2 my-lg-0" action ="{% url 'search_results_url' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="найти..." name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                </form>

    </nav>
</div>

    <div class="container mt-1">

        {% block content %}
            таблица карточек пуста
        {% endblock %}
    </div>


</body>
</html>